__pycache__/
*.pyc
*.pyo
*.pyd

.env

.DS_Store

*.json

# AI-OS backup files
*.v153.bak
*.beta.bak
*.v151.bak

# AI-OS version backup files
*.v154.bak
*.v154.1.bak
*.v154.2.bak

# AI-OS version backup files
*.v16.1.bak
*.v16.3.bak

# AI-OS version backup files
*.v17.1.bak

# AI-OS version backup files
*.v18.1.bak

# AI-OS version backup files
*.v19.1.bak
*.v20.1.bak

# AI-OS version backup files
*.v21.1.bak
*.v22.1.bak
